/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-image: url(../images/fundobase.jpg);
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
h2,h3,h4 {
    color: #ffffff !important;
}
.table{
    background:#ffffff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 480px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    .content{
        width:94%;
    }
    thead{
        display:none;
    }
    tbody td {
        display: flex;
        flex-direction: column;
    }
    td {
        padding: 7px 0;
        text-align:center;
    }
    td .btn-success,td .btn-warning,td .btn-danger {
            margin: 0.5em;
    }
}

@media only screen and (min-width: 1200px) {
    /* Hide captions */
    .content {
        width: 100%;
    }
    th,td{
        padding: 7px 0;
    }
    tbody tr td:nth-child(1) {
        width: 5%;
    }

    tbody tr td:nth-child(2) {
        width: 10%;
    }

    tbody tr td:nth-child(3) {
        width: 10%;
    }

    tbody tr td:nth-child(4) {
        width: 10%;
    }

    tbody tr td:nth-child(5) {
        width: 10%;
    }
}


/* Footer*/
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    padding: 25px;
    pointer-events: none;
    cursor: default;
}
.dl-horizontal, .col-md-4{
    background-color: #ffffff;
    padding: 1em;
}


/*Login*/
.login-page {
    background-image: url('../images/backLogin.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}
.login-page input{
    align-items:center;
}
.container-login {
    height: 100%;
    align-content: center;
    width: 35%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(0,0,0,0.5) !important;
    padding: 50px;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}
.card-footer a {
    color: white;
}

.input-group {
    position: relative;
    display: flex;
    border-collapse: separate;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

.input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
    color:#ffffff;
}
