
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/_LayoutLogin.cshtml";
}

<h2 style="color: #ff0000; text-align:center">Erro</h2>
<div style="height: 50px; background: white; text-align: center; padding: 1em;margin:0.5em;">
    <p>O Usuário não foi encontrado no Banco de dados.Por favor verifique seu Login</p>
</div>
<td>
    <a asp-action="Login" class="btn btn-success" style="margin: 0 auto; display: flex; justify-content: center; width:30%;">Voltar</a>
</td>
