
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/_LayoutLogin.cshtml";
}

<div class=login-page>

    <div class="container-login">
        <div class="d-flex justify-content-center h-100">
            <div class="card-header">
                <a class="navbar-brand-login" href="#">
                    <img src="~/images/logo2.PNG" width="200" height="50" />
                </a>
            </div>
            <div class="card">
                <div class="card-body">

                    <form asp-action="Verify" method="post" style="margin:0 auto;">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input name="Nome" class="form-control" autocomplete="off" required placeholder="Login" />
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input name="Senha" type="password" class="form-control" required placeholder="Senha" />

                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Lembrar-me
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Entrar" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <a href="#">Esqueceu a senha?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
